*{
    margin: 0;
    padding: o;
}

.cite{
    max-width: 300px;
    height: 200px;
    background-color: azure;
    margin: 0 auto;
    position: relative;
    padding-left: 5px;
}

.text__1{
    font-size: 24px;
    margin-left: 15px;
    font-style: italic;
}

.text__2{
    color: rgb(27, 129, 143);
    position: absolute;
    top: 170px;
    font-size: 19px;
    left: 15px;
}