*{
    margin: 0;
    padding: 0;
}

.rod{
    background: url(grid_noise.png);
    width: 100%;
    height: 100vh;
    display: flex;
}

.nav{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
}


#hre {
    padding: 75px;
}