*{
    margin: 1rem;
}

.input__1{
    border: 1px solid;
    background-color: lightslategrey;
    padding-top: 3px;
    padding-bottom: 3px;
}

.input__2{
    border: 1px solid;
    background-color: lightslategrey;
    padding: 0 4px;
}

.input__3{
    white-space: nowrap;
    overflow-x: scroll;
    border: 1px solid;
    background-color: lightslategrey;
    padding-top: 3px;
    padding-bottom: 3px;
}

.number{
    color: blue;
}

.letter{
    border: 1px solid;
    background-color: lightslategrey;
    padding: 0 4px;
}
