*{
    margin: 15px;
    padding: 0;
}

body{
    font-family: arial, sans-serif;
    font-size: 20px;
}

ul{
    color: #4682B4;
    font-size: 30px;
    font-weight: bold;
    list-style-type: none;
    width: 400px;
    margin:  0 auto;
    padding: 0px;
    text-align: center;
}
li{
    margin-bottom: -15px;
    padding: 20px;
}

#menu li {
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    border-right: 5px solid #DCDCDC;
    border-left: 5px solid #DCDCDC;
}

li:hover{
    background-color: #4682B4;
    color: white;
}